
body{
    font-family: "Poppins", sans-serif;
    background-color: wheat;
    color:blanchedalmond;
    
    
}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #42393b;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(129, 110, 82);
}

input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "poppins", sans-serif;

}
